Repository Viskores/viskores, changes with the owners that docs/CODEOWNERS names for each.
All owners: @vicentebolea, @dpugmire, @kmorel, @jeffamstutz, @nicolemarsaglia, @ollielo, @hankchilds, @oruebel, @ghweber, @ayenpure

ci: only run on main,release* branches
  .github/workflows/ci.yml
Owners: @vicentebolea

git: sync release branch with main in every push
  .github/workflows/sync-branches.yml
Owners: @vicentebolea

ci: use distributed cache for ccache
  .gitlab-ci.yml
  .gitlab/ci/ctest_build_notes.cmake
  .gitlab/ci/ctest_configure.cmake
Owners: @vicentebolea

Enable extracting external faces from curvilinear data
  docs/changelog/curvilinear-external-faces.md
  vtkm/filter/entity_extraction/ExternalFaces.cxx
  vtkm/filter/entity_extraction/ExternalFaces.h
  vtkm/filter/entity_extraction/testing/UnitTestExternalFacesFilter.cxx
  vtkm/filter/entity_extraction/worklet/ExternalFaces.h
Owners: @kmorel

ci,cdash: use cdash-status@latest
  .github/workflows/external.yml
Owners: @vicentebolea

ci,cdash: use cdash-status@latest
  .github/workflows/external.yml
Owners: @vicentebolea

release: update version and License
  LICENSE.txt
  version.txt
Owners: none

release: 2.3.0-rc1 release notes
  docs/changelog/2.3/release-notes.md
  docs/changelog/add-array-set-values.md
  docs/changelog/cell-interpolation.global.md
  docs/changelog/cell-neighborhood-deprecation-warning.md
  docs/changelog/clip-improve-performance-and-memory-consumption.md
  docs/changelog/contour-polys.md
  docs/changelog/document-field-creation.md
  docs/changelog/env-options.md
  docs/changelog/external-faces-improve-performance-and-memory-consuption.md
  docs/changelog/fallback-log.md
  docs/changelog/flipped-contour-tris.md
  docs/changelog/kokkos-force-init.md
  docs/changelog/missing-template-arg-list.md
  docs/changelog/simplify-locator-bases.md
  docs/changelog/swap-cub-include.md
  docs/changelog/thrust-swap-warnings.md
  docs/changelog/vec-constexpr.md
Owners: @kmorel

2.3.0-rc1 is our 18th official release of VTK-m.
  version.txt
Owners: none

update vtk-m version
  version.txt
Owners: none

Enable extracting external faces from curvilinear data
  docs/changelog/curvilinear-external-faces.md
  vtkm/filter/entity_extraction/ExternalFaces.cxx
  vtkm/filter/entity_extraction/ExternalFaces.h
  vtkm/filter/entity_extraction/testing/UnitTestExternalFacesFilter.cxx
  vtkm/filter/entity_extraction/worklet/ExternalFaces.h
Owners: @kmorel

Clip: Fix edgeInterpolationIndexToUnique creation bug
  vtkm/filter/contour/worklet/Clip.h
Owners: none

Clip: Fix edgeInterpolationIndexToUnique creation bug
  vtkm/filter/contour/worklet/Clip.h
Owners: none

ci: correct cdash-status-url
  .github/workflows/external.yml
Owners: @vicentebolea

Interpolation of data with cubic hermite spline.
  viskores/ErrorCode.h
  viskores/cont/CMakeLists.txt
  viskores/cont/CubicHermiteSpline.cxx
  viskores/cont/CubicHermiteSpline.h
  viskores/cont/testing/CMakeLists.txt
  viskores/cont/testing/UnitTestCubicHermiteSpline.cxx
  viskores/exec/CubicHermiteSpline.h
Owners: @kmorel

update the license for each file.
  viskores/cont/CubicHermiteSpline.cxx
  viskores/cont/CubicHermiteSpline.h
  viskores/cont/testing/UnitTestCubicHermiteSpline.cxx
  viskores/exec/CMakeLists.txt
  viskores/exec/CubicHermiteSpline.h
Owners: @kmorel

release: update version and License
  version.txt
Owners: none

release: 2.3.0 release notes
  docs/changelog/2.3/release-notes.md
  docs/changelog/curvilinear-external-faces.md
Owners: @kmorel

2.3.0 is our 18th official release of VTK-m.
  version.txt
Owners: none

docs: remove pr and issue templates
  .github/issue_template.md
  .github/pull_request_template.md
Owners: @vicentebolea

ci: ccache options
  .gitlab-ci.yml
Owners: @vicentebolea

ci: add doxygen job
  .github/workflows/doxygen.yml
Owners: @vicentebolea

ci: correct viskores-doxygen url
  .github/workflows/doxygen.yml
Owners: @vicentebolea

ci: correct viskores-doxygen deps
  .github/workflows/doxygen.yml
Owners: @vicentebolea

ci: correct viskores-doxygen
  .github/workflows/doxygen.yml
Owners: @vicentebolea

ci: correct viskores-doxygen
  .github/workflows/doxygen.yml
Owners: @vicentebolea

ci: correct viskores-doxygen
  .github/workflows/doxygen.yml
Owners: @vicentebolea

ci: correct viskores-doxygen
  .github/workflows/doxygen.yml
Owners: @vicentebolea

ci: correct viskores-doxygen
  .github/workflows/doxygen.yml
Owners: @vicentebolea

ci: correct viskores-doxygen
  .github/workflows/doxygen.yml
Owners: @vicentebolea

ci: correct viskores-doxygen
  .github/workflows/doxygen.yml
Owners: @vicentebolea

docs: update docs to reflect github and viskores
  .gitlab/ci/doxygen.yml
  CONTRIBUTING.md
  README.md
Owners: @vicentebolea

docs: update docs to reflect github and viskores
  .gitlab/ci/doxygen.yml
  CONTRIBUTING.md
  README.md
Owners: @vicentebolea

ci: ccache options
  .gitlab-ci.yml
Owners: @vicentebolea

Remove transitioning from readme
  CONTRIBUTING.md
  README.md
Owners: none

docs/CODEOWNERS:

.github/                                        @vicentebolea
.gitlab-ci.yml                                  @vicentebolea
.gitlab/                                        @vicentebolea
CMake/                                          @vicentebolea
data/                                           @dpugmire
docs/                                           @kmorel
examples/                                       @kmorel
Utilities/                                      @kmorel @vicentebolea
viskores/interop/                               @jeffamstutz
viskores/io/                                    @kmorel
viskores/rendering/                             @nicolemarsaglia
viskores/                                       @kmorel
viskores/source/                                @ollielo
viskores/testing/                               @kmorel
viskores/thirdparty/                            @vicentebolea
viskores/worklet/cellmetrics/                   @hankchilds
viskores/worklet/contourtree_augmented/         @oruebel @ghweber
viskores/worklet/contourtree/                   @oruebel @ghweber
viskores/worklet/cosmotools/                    @ollielo
viskores/worklet/lcs/                           @ayenpure @dpugmire
viskores/worklet/moments/                       @ollielo
viskores/worklet/particleadvection              @ayenpure @dpugmire
viskores/worklet/spatialstructure               @ayenpure @kmorel
